In [19]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn import naive_bayes
import numpy as np

In [20]:
df=pd.read_csv("dataset.json", sep='\t', names=('kelas', 'tweet'))

In [21]:
df.head()

   kelas                                              tweet
0      0                     pengen nyoba nampol ular kobra
1      0  manusia klaim sbg makhluk paling semprna amp m...
2      0  detikcom divhumaspolri ncakep om polsikat saja...
3      1  rekzaiful tau nggak kamu tadi ada yang naik gu...
4     -1  pada zaman mesir kuno orangorang menggunakan s...

In [22]:
stopset = set("StopWords_Eng-Ind.txt")
vectorizer = TfidfVectorizer(use_idf=True, lowercase=True, strip_accents='ascii', stop_words=stopset)

In [23]:
y= df.kelas

In [24]:
X= vectorizer.fit_transform(df.tweet)

In [25]:
print (y.shape)
print (X.shape)

(198,)
(198, 1047)

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [27]:
clf = naive_bayes.MultinomialNB()
clf.fit(X_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [67]:
ular_kobra_tweet = np.array(["divergant fakyu ular kobra"])
ular_kobra_tweet_vector = vectorizer.transform(ular_kobra_tweet) 
sentimen = clf.predict(ular_kobra_tweet_vector)
print(sentimen)

[0]